

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@media(prefers-color-scheme: light) {
    @each $key, $value in $light-theme-shadows{
    
    
    
        .#{$key}{ 
           
    
            box-shadow: map-deep-get($light-theme-shadows, "#{$key}", "x") map-deep-get($light-theme-shadows, "#{$key}", "y") map-deep-get($light-theme-shadows, "#{$key}", "blur") map-deep-get($light-theme-shadows, "#{$key}", "spread") map-deep-get($light-theme-shadows, "#{$key}", "color");
        }
        
    
    }
    }

@media(prefers-color-scheme: dark) {
@each $key, $value in $dark-theme-shadows{



    .#{$key}{ 
       

        box-shadow: map-deep-get($dark-theme-shadows, "#{$key}", "x") map-deep-get($dark-theme-shadows, "#{$key}", "y") map-deep-get($dark-theme-shadows, "#{$key}", "blur") map-deep-get($dark-theme-shadows, "#{$key}", "spread") map-deep-get($dark-theme-shadows, "#{$key}", "color");
    }
    

}
}




