
                  
                  $dark-theme-shadows:( 
                    shadow-1:(
                     x:0,y:2,blur:7,spread:0,color:#00000080,type:dropShadow
                    
                       ),shadow-2:(
                     x:0,y:2,blur:12,spread:0,color:#00000080,type:dropShadow
                    
                       ),
                    );

                   
                 