
        @media(prefers-color-scheme: light) {
        :root{
          --white-base: #fff;
--white-o-10: #ffffff1a;
--white-o-25: #ffffff40;
--white-o-50: #ffffff80;
--white-o-75: #ffffffbf;
--white-o-90: #ffffffe6;
--black-base: #000;
--black-o-10: #0000001a;
--black-o-25: #00000040;
--black-o-50: #00000080;
--black-o-75: #000000bf;
--black-o-90: #000000e6;
--ct-neutral-100: #2F354A;
--ct-neutral-200: #363E5C;
--ct-neutral-300: #50587A;
--ct-neutral-400: #868EAB;
--ct-neutral-500: #FFFFFF;
--ct-neutral-predominant: #292D3B;
--ct-neutral-o90-100: #2F354AE6;
--ct-neutral-o90-200: #363E5CE6;
--ct-neutral-o90-300: #50587AE6;
--ct-neutral-o90-400: #868EABE6;
--ct-neutral-o90-500: #FFFFFFE6;
--ct-neutral-o90-predominant: #292D3BE6;
--ct-neutral-o75-100: #2F354ABF;
--ct-neutral-o75-200: #363E5CBF;
--ct-neutral-o75-300: #50587ABF;
--ct-neutral-o75-400: #868EABBF;
--ct-neutral-o75-500: #FFFFFFBF;
--ct-neutral-o75-predominant: #292D3BBF;
--ct-neutral-o50-100: #2F354A80;
--ct-neutral-o50-200: #363E5C80;
--ct-neutral-o50-300: #50587A80;
--ct-neutral-o50-400: #868EAB80;
--ct-neutral-o50-500: #FFFFFF80;
--ct-neutral-o50-predominant: #292D3B80;
--ct-neutral-o25-100: #2F354A40;
--ct-neutral-o25-200: #363E5C40;
--ct-neutral-o25-300: #50587A40;
--ct-neutral-o25-400: #868EAB40;
--ct-neutral-o25-500: #FFFFFF40;
--ct-neutral-o25-predominant: #292D3B40;
--ct-neutral-o10-100: #2F354A1A;
--ct-neutral-o10-200: #363E5C1A;
--ct-neutral-o10-300: #50587A1A;
--ct-neutral-o10-400: #868EAB1A;
--ct-neutral-o10-500: #FFFFFF1A;
--ct-neutral-o10-predominant: #292D3B1A;
--ct-primary-100: #0033A0;
--ct-primary-200: #2154C1;
--ct-primary-300: #6396FE;
--ct-primary-400: #88BBFE;
--ct-primary-500: #ADD1FF;
--ct-primary-base: #6396FE;
--ct-primary-o90-100: #0033A0E6;
--ct-primary-o90-200: #2154C1E6;
--ct-primary-o90-300: #6396FEE6;
--ct-primary-o90-400: #88BBFEE6;
--ct-primary-o90-500: #ADD1FFE6;
--ct-primary-o90-base: #6396FEE6;
--ct-primary-o75-100: #0033A0BF;
--ct-primary-o75-200: #2154C1BF;
--ct-primary-o75-300: #6396FEBF;
--ct-primary-o75-400: #88BBFEBF;
--ct-primary-o75-500: #ADD1FFBF;
--ct-primary-o75-base: #6396FEBF;
--ct-primary-o50-100: #0033A080;
--ct-primary-o50-200: #2154C180;
--ct-primary-o50-300: #6396FE80;
--ct-primary-o50-400: #88BBFE80;
--ct-primary-o50-500: #ADD1FF80;
--ct-primary-o50-base: #6396FE80;
--ct-primary-o25-100: #0033A040;
--ct-primary-o25-200: #2154C140;
--ct-primary-o25-300: #6396FE40;
--ct-primary-o25-400: #88BBFE40;
--ct-primary-o25-500: #ADD1FF40;
--ct-primary-o25-base: #6396FE40;
--ct-primary-o10-100: #0033A01A;
--ct-primary-o10-200: #2154C11A;
--ct-primary-o10-300: #6396FE1A;
--ct-primary-o10-400: #88BBFE1A;
--ct-primary-o10-500: #ADD1FF1A;
--ct-primary-o10-base: #6396FE1A;
--ct-error-100: #8A0521;
--ct-error-200: #BC2849;
--ct-error-300: #FB5C7E;
--ct-error-400: #FE8FB1;
--ct-error-500: #FFAED0;
--ct-error-base: #FB5C7E;
--ct-error-o90-100: #8A0521E6;
--ct-error-o90-200: #BC2849E6;
--ct-error-o90-300: #FB5C7EE6;
--ct-error-o90-400: #FE8FB1E6;
--ct-error-o90-500: #FFAED0E6;
--ct-error-o90-base: #FB5C7EE6;
--ct-error-o75-100: #8A0521BF;
--ct-error-o75-200: #BC2849BF;
--ct-error-o75-300: #FB5C7EBF;
--ct-error-o75-400: #FE8FB1BF;
--ct-error-o75-500: #FFAED0BF;
--ct-error-o75-base: #FB5C7EBF;
--ct-error-o50-100: #8A052180;
--ct-error-o50-200: #BC284980;
--ct-error-o50-300: #FB5C7E80;
--ct-error-o50-400: #FE8FB180;
--ct-error-o50-500: #FFAED080;
--ct-error-o50-base: #FB5C7E80;
--ct-error-o25-100: #8A052140;
--ct-error-o25-200: #BC284940;
--ct-error-o25-300: #FB5C7E40;
--ct-error-o25-400: #FE8FB140;
--ct-error-o25-500: #FFAED040;
--ct-error-o25-base: #FB5C7E40;
--ct-error-o10-100: #8A05211A;
--ct-error-o10-200: #BC28491A;
--ct-error-o10-300: #FB5C7E1A;
--ct-error-o10-400: #FE8FB11A;
--ct-error-o10-500: #FFAED01A;
--ct-error-o10-base: #FB5C7E1A;
--ct-success-100: #045323;
--ct-success-200: #078751;
--ct-success-300: #3BBB85;
--ct-success-400: #57D7A1;
--ct-success-500: #74F4BE;
--ct-success-base: #3BBB85;
--ct-success-o90-100: #045323E6;
--ct-success-o90-200: #078751E6;
--ct-success-o90-300: #3BBB85E6;
--ct-success-o90-400: #57D7A1E6;
--ct-success-o90-500: #74F4BEE6;
--ct-success-o90-base: #3BBB85E6;
--ct-success-o75-100: #045323BF;
--ct-success-o75-200: #078751BF;
--ct-success-o75-300: #3BBB85BF;
--ct-success-o75-400: #57D7A1BF;
--ct-success-o75-500: #74F4BEBF;
--ct-success-o75-base: #3BBB85BF;
--ct-success-o50-100: #04532380;
--ct-success-o50-200: #07875180;
--ct-success-o50-300: #3BBB8580;
--ct-success-o50-400: #57D7A180;
--ct-success-o50-500: #74F4BE80;
--ct-success-o50-base: #3BBB8580;
--ct-success-o25-100: #04532340;
--ct-success-o25-200: #07875140;
--ct-success-o25-300: #3BBB8540;
--ct-success-o25-400: #57D7A140;
--ct-success-o25-500: #74F4BE40;
--ct-success-o25-base: #3BBB8540;
--ct-success-o10-100: #0453231A;
--ct-success-o10-200: #0787511A;
--ct-success-o10-300: #3BBB851A;
--ct-success-o10-400: #57D7A11A;
--ct-success-o10-500: #74F4BE1A;
--ct-success-o10-base: #3BBB851A;
--ct-caution-100: #8B3F00;
--ct-caution-200: #A85C01;
--ct-caution-300: #FFB543;
--ct-caution-400: #FCC957;
--ct-caution-500: #FBDF6D;
--ct-caution-base: #FFB543;
--ct-caution-o90-100: #8B3F00E6;
--ct-caution-o90-200: #A85C01E6;
--ct-caution-o90-300: #FFB543E6;
--ct-caution-o90-400: #FCC957E6;
--ct-caution-o90-500: #FBDF6DE6;
--ct-caution-o90-base: #FFB543E6;
--ct-caution-o75-100: #8B3F00BF;
--ct-caution-o75-200: #A85C01BF;
--ct-caution-o75-300: #FFB543BF;
--ct-caution-o75-400: #FCC957BF;
--ct-caution-o75-500: #FBDF6DBF;
--ct-caution-o75-base: #FFB543BF;
--ct-caution-o50-100: #8B3F0080;
--ct-caution-o50-200: #A85C0180;
--ct-caution-o50-300: #FFB54380;
--ct-caution-o50-400: #FCC95780;
--ct-caution-o50-500: #FBDF6D80;
--ct-caution-o50-base: #FFB54380;
--ct-caution-o25-100: #8B3F0040;
--ct-caution-o25-200: #A85C0140;
--ct-caution-o25-300: #FFB54340;
--ct-caution-o25-400: #FCC95740;
--ct-caution-o25-500: #FBDF6D40;
--ct-caution-o25-base: #FFB54340;
--ct-caution-o10-100: #8B3F001A;
--ct-caution-o10-200: #A85C011A;
--ct-caution-o10-300: #FFB5431A;
--ct-caution-o10-400: #FCC9571A;
--ct-caution-o10-500: #FBDF6D1A;
--ct-caution-o10-base: #FFB5431A;
--glass-base: #868EAB1A;
--m-primary-n2: #ADD1FF;
--m-primary-n1: #88BBFE;
--m-primary-o: #6396FE;
--m-primary-p1: #2154C1;
--m-primary-p2: #0033A0;
--shadow-color-base: #000;
                 
          --background-image: 0.7;

        }
        }