:root{--shadow: map-get($dark-theme-shadows, 'shadow-1' );}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@each $key, $value in $dark-theme-shadows{

    .#{$key}{ 
       

        box-shadow: map-deep-get($dark-theme-shadows, "#{$key}", "x")px map-deep-get($dark-theme-shadows, "#{$key}", "y")px 5px 0px rgba(0,0,0,0.75);
    }
    

}




$o-grid-default-config: (
    columns: 12,
    gutter: 10px,
    min-width: 240px,
    max-width: 1330px,
    layouts: (
        S:  370px,  // ≥20px columns
        M:  610px,  // ≥40px columns
        L:  850px,  // ≥60px columns
        XL: 1090px  // ≥80px columns
    ),
    fluid: true,
    debug: false,
    fixed-layout: M,
    enhanced-experience: true
);