a.button {
  text-decoration: none;
}

.button {
  height: var(--button-action-area-height);
  // background-color: aquamarine;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  .button-shape {
    height: var(--button-normal-height);
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-label-color);
    border-radius: var(--button-border-radius);
    border: 0;

    @include geneBrow(transition, background-color 100ms ease-out);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-color);

    label{
      font-size: var(--button-normal-font-size);
      font-weight: var(--button-primary-font-weight);
      color: var(--button-primary-label-color);
    }
  }

  &:hover {
    .button-shape {
    background-color: var(--button-primary-hover-background-color);
    label{
      color: var(--button-primary-hover-label-color);
    }
    }
  }







  
  
  
  &.secondary {
    .button-shape {
      background-color: var(--button-secondary-background-color);
      label{
        color: var(--button-secondary-label-color);
      }  
    }
    
    &:hover {
      .button-shape {
        background-color: var(--button-secondary-hover-background-color);
        label{
         color: var(--button-secondary-hover-label-color);
        }
      }
    }
    
    
  }

  
  
  
  &:disabled {
    .button-shape {
    cursor: not-allowed;
    background-color: var(--button-disabled-background-color)!important;
    label{
    color: var(--button-disabled-label-color)!important;
    }  
  }

    &:hover {
      .button-shape {
        background-color: var(--button-disabled-background-color)!important;
        label{
        color: var(--button-disabled-label-color)!important;
        }
      }
    }

  }




  &.button-close{ 

    width: var(--button-action-area-height);


      .button-shape{
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;


        
        label{
          width: 30px;
          height: 30px;
          display: flex;
        align-items: center;
        justify-content: center;
          
          &:before{

          content: "\e917";
          width: 28px;
          height: 28px;
          position: relative;
          font-family: 'base-icons' !important;
          font-size: 28px;

        }
      }
      }
  }


  & [class^="icon-"],
  & [class*=" icon-"] {
    font-size: 25px !important;
    height: 10px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin-left: 0.2em;
  }





}