<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual tono y voz</title>
    <link rel="stylesheet" href="../../../../__css-ouput/__font-import.css">
    <link rel="stylesheet" href="../../../../__css-ouput/_core.css">
  
    <!-- <style>
        *{border: 1px salmon solid!important;}
    </style> -->
</head>

<body>
<div class="LAYOUT">

    <div class="footer">
        <div class="footer-contact">
        <div class="container">
      
                <a href="/Paginas/nuestras_sucursales.aspx" class="contact-item">
                    <i class="icon-size-40 icon-MapPin ">
                    </i>
                    <span>Conoce <br>  nuestras sucursales</span>
                    <!-- <p class="text-center">Encuentra tu sucursal más cercana  </p> -->
                    <!-- <a href="/Paginas/nuestras_sucursales.aspx" class="button button-secondary aqua small margin-top-small max-w-150 center-el">Ver sucursales</a> -->
                </a>
                <a class="contact-item whatsapp " onclick="whatsapp()">
                    <i class="icon-whatsapp ">
                    </i>
                    <span>Escríbenos  <br>  a Whatsapp</span>
                    <!-- <p class="text-center">Atendemos tus consultas de forma rápida.
                    </p> -->
                    <!-- <a class="button button-secondary aqua small margin-top-small max-w-150 center-el" onclick="whatsapp()">Escríbenos</a> -->
                </a>
                <a href="/Paginas/escribenos.aspx" class="contact-item">
                    <i class="icon-size-40 icon-Mail ">
                    </i>
                    <span>Envíanos  <br>  una solicitud</span>
                    <!-- <p class="text-center">Ingresa una consulta, un reclamo o solicita el inicio de un trámite con un ejecutivo

                    </p> -->
                    <!-- <a href="/Paginas/escribenos.aspx" class="button button-secondary aqua small margin-top-small max-w-150 center-el">Escríbenos</a> -->
                </a>
                <a href="https://zeroq.cl/offices/afp-illapel" class="contact-item">
                    
                        <i class="icon-size-40 icon-Video ">
                        </i>
                 
                    <span>Agenda  <br>  una video llamada</span>
                    <!-- <p class="text-center">Ingresa una consulta, un reclamo o solicita el inicio de un trámite con un ejecutivo</p> -->
                    <!-- <a href="/Paginas/escribenos.aspx" class="button button-secondary aqua small margin-top-small max-w-150 center-el">Escríbenos</a> -->
                </a>
             
           
               
               
            </div>
            
        </div>

        <div href="#" class="phone-contact">
            <div class="container">

            <h1> <i class="icon-Phone icon-size-30"></i>
                Llámanos</h1>


            <div class="phone-lines">
            <a href="tel:600 6600 900" class="phone-line">
                <p>Desde Chile:</p>
                <div class="phone-number">
                    

                   
                    
                  
                            <span class="text-size-h2 amount ">600 6600 900
                            </span>
                      
                </div>
                
                </a>
         



            <a href="tel:+56 2329 34655" class="phone-line">
                <p>Desde el extranjero:</p>
                <div class="phone-number">
                   
                        
                   
                       
                            <span class="text-size-h2 amount ">+56 2329 34655
                            </span>
                        
                    
                </div>
            </a>
        </div>


        <p class="atention">

            Horarios de atención, de lunes a jueves de 09:00 a 18:00 hrs. y viernes de 09:00 a 15:50 hrs. 

          </p>

    </div>
        </div>
        <div class="footer-links">
            <div class="container">
               

                    
                    <div class="footer-links_category">
                        <div class="section-title">Trámites de pensión</div>
                        <ul>
                            <li>
                                <a href="/Paginas/pension-vejez.aspx " target="_self">Pensión de vejez</a>
                            </li>
                            <li>
                                <a href="/Paginas/pension-vejez-anticipada.aspx " target="_self">Pensión
                                de vejez anticipada</a>
                            </li>
                            <li>
                                <a href="/Paginas/pension-invalidez.aspx " target="_self">Pensión de
                                invalidez</a>
                            </li>
                            <li>
                                <a href="/Paginas/pension-sobrevivencia.aspx " target="_self">Pensión de
                                sobrevivencia</a>
                            </li>
                            <li>
                                <a href="/Paginas/pension-basica-solidaria.aspx " target="_self">Pensión
                                básica solidaria</a>
                            </li>
                            <li>
                                <a href="/Paginas/excedente-libre-disposicion.aspx " target="_self">Excedente de libre disposición</a>
                            </li>
                            <li>
                                <a href="/Paginas/listado-publico.aspx " target="_self">Exclusión de
                                listado público</a>
                            </li>
                            <li>
                                <a href="/Paginas/bono-reconocimiento.aspx " target="_self">Bono de
                                reconocimiento</a>
                            </li>
                            <li>
                                <a href="/Paginas/garantia-estatal.aspx " target="_self">Garantía
                                estatal</a>
                            </li>
                        </ul>
                    </div>


                    <div class="footer-links_category cpl-col cpl-col-3">
                        <div class="section-title">Beneficios y trámites</div>
                        <ul>
                            <li>
                                <a href="/Paginas/asignacion-familiar.aspx " target="_self">Asignación
                                familiar</a>
                            </li>
                            <li>
                                <a href="/Paginas/bono-por-hijo.aspx " target="_self">Bono por hijo</a>
                            </li>
                            <li>
                                <a href="/Paginas/cuota-mortuoria.aspx " target="_self">Cuota mortuoria</a>
                            </li>
                            <li>
                                <a href="/Paginas/herencia.aspx " target="_self">Herencia</a>
                            </li>
                            <li>
                                <a href="/Paginas/pago-en-exceso.aspx " target="_self">Pago en exceso</a>
                            </li>
                            <li>
                                <a href="/Paginas/seguro-cesantia.aspx" target="_self">Seguro de cesantía</a>
                            </li>
                            <li>
                                <a href="/Paginas/subsidio-trabajador-joven.aspx " target="_self">Subsidio para trabajador joven </a>
                            </li>
                            <li>
                                <a href="/Paginas/tecnico-extranjero.aspx " target="_self">Técnico extranjero</a>
                            </li>
                            <li>
                                <a href="/Paginas/trabajo-pesado.aspx " target="_self">Trabajo pesado</a>
                            </li>
                        </ul>
                    </div>


                    <div class="footer-links_category cpl-col cpl-col-3">
                        <div class="section-title">Ayuda</div>
                        <ul>
                            <li>
                                <a href="https://www.afpcapital.cl/Ayuda/Paginas/default.aspx " target="_blank">Preguntas frecuentes</a>
                            </li>
                            <li>
                                <a href="/Paginas/Chat-de-ayuda.aspx" target="_self">Chat de ayuda</a>
                            </li>
                            <li>
                                <a href="/Paginas/Conoce-tu-cartola.aspx" target="_self">Conoce tu cartola</a>
                            </li>
                            <li>
                                <a href="https://www.afpcapital.cl/Afiliado/Multifondos/Paginas/Que-son-los-Multifondos.aspx" target="_blank">¿Qué son los multifondos?</a>
                            </li>
                            <li>
                                <a href="https://www.afpcapital.cl/Afiliado/Multifondos/Paginas/Cambio-de-Fondo.aspx " target="_blank">¿Qué es un cambio de fondos?</a>
                            </li>
                            <li>
                                <a href="https://www.afpcapital.cl/Afiliado/Multifondos/Paginas/Selecci%C3%B3n-de-Fondos.aspx " target="_blank">¿Cómo elegir los fondos?</a>
                            </li>
                            <li>
                                <a href="https://www.afpcapital.cl/Afiliado/Multifondos/Paginas/Resultados-Multifondos.aspx" target="_blank">Resultados de los Multifondos</a>
                            </li>
                        </ul>
                    </div>


                    <div class="footer-links_category cpl-col cpl-col-3">
                        <div class="section-title">Sitios externos</div>
                        <ul>
                            <li>
                                <a href="https://www.spensiones.cl/">Superintendencia de Pensiones</a>
                            </li>
                            <li>
                                <a href="https://www.afc.cl/">Adm. de fondos de cesantía (AFC)</a>
                            </li>
                            <li>
                                <a href="https://www.bne.cl/">Bolsa Nacional de Empleos</a>
                            </li>
                            <li>
                                <a href="https://www.previred.com/web/previred/">Previred</a>
                            </li>
                            <li>
                                <a href="https://www.aafp.cl/">Asociación gremial de AFP</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="footer-social">
            <div class="container">
                <div class="footer-logo">
                    <img src="https://www.afpcapital.cl/Style%20Library/_src/globals/img/Logos/Capital/AFPCapital_logotipo.svg" />
                </div>
                <div class="footer-rrss">
                    <a href="https://www.youtube.com/user/afpcapitalchile">
                        <span class="icon-youtube">
                        </span>
                    </a>
                    <a href="https://www.facebook.com/AFPCapitalCL/">
                        <span class="icon-facebook">
                        </span>
                    </a>
                    <a href="https://twitter.com/AFP_Capital">
                        <span class="icon-twitter">
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/company/16246252/">
                        <span class="icon-linkedin">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom-links">
            <div class="container">
                <ul>
                    <li>
                        <a href="https://www.afpcapital.cl/Paginas/Terminos-y-Condiciones.aspx">Términos
                        y condiciones

                    
                        
                        
                        
                        
                        
                        </a>
                    </li>
                    <li>
                        <a href="https://www.afpcapital.cl/Paginas/Privacidad-y-Seguridad.aspx">Políticas
                        de privacidad y seguridad

                    
                        
                        
                        
                        
                        
                        </a>
                    </li>
                    <li>
                        <a href="https://www.afpcapital.cl/Paginas/Prot%C3%A9gete-del-Phishing.aspx">Protégete
                        del pishing

                    
                        
                        
                        
                        
                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-sp">
            <div class="container">
                <div class="footer-sp_logo">
                    <img src="https://www.afpcapital.cl/_layouts/15/Footer/Img/sp-logo.png" alt="" />
                </div>
                <div class="footer-sp_texto">
                    <p>Entrega tu opinión a la Superintendencia de Pensiones sobre la calidad de servicio de tu AFP,
                        <a href="https://es.research.net/r/spensiones">comienza aquí</a>.</p>
                </div>
            </div>
        </div>
    </div>


</div>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
<script src="./src/js/components/modal/modal.js"></script>
<script src="../../../components/footer/src/js/footer.js"></script>
</body>

</html>