
  
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'base-icons' !important;
    font-size: 25px!important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

    &.icon-size-25{
      font-size: 25px!important;
    }
    &.icon-size-30{
      font-size: 30px!important;
    }
    &.icon-size-35{
      font-size: 35px!important;
    }
    &.icon-size-40{
      font-size: 40px!important;
    }
    &.icon-size-45{
      font-size: 45px!important;
    }
    &.icon-size-50{
      font-size: 50px!important;
    }
    &.icon-size-100{
      font-size: 100px!important;
    }&.icon-size-150{
      font-size: 150px!important;
    }&.icon-size-200{
      font-size: 200px!important;
    }
  }

  
.icon-Video:before {
  content: "\e928";
  
}
.icon-AddCircle:before {
  content: "\e900";
  
}
.icon-ArrowBottom:before {
  content: "\e901";
  
}
.icon-ArrowBottomLeft:before {
  content: "\e902";
  
}
.icon-ArrowBottomRight:before {
  content: "\e903";
  
}
.icon-ArrowLeft:before {
  content: "\e904";
  
}
.icon-ArrowRight:before {
  content: "\e905";
  
}
.icon-ArrowTop:before {
  content: "\e906";
  
}
.icon-ArrowTopLeft:before {
  content: "\e907";
  
}
.icon-ArrowTopRight:before {
  content: "\e908";
  
}
.icon-BarGraphic:before {
  content: "\e909";
  
}
.icon-Calendar:before {
  content: "\e90a";
  
}
.icon-Caution:before {
  content: "\e90b";
  
}
.icon-Chile:before {
  content: "\e90c";
  
}
.icon-CircleArrowBottom:before {
  content: "\e90d";
  
}
.icon-CircleArrowLeft:before {
  content: "\e90e";
  
}
.icon-CircleArrowRight:before {
  content: "\e90f";
  
}
.icon-CircleArrowTop:before {
  content: "\e910";
  
}
.icon-CircleCaretBottom:before {
  content: "\e911";
  
}
.icon-CircleCaretLeft:before {
  content: "\e912";
  
}
.icon-CircleCaretRight:before {
  content: "\e913";
  
}
.icon-CircleCaretTop:before {
  content: "\e914";
  
}
.icon-Coins:before {
  content: "\e915";
  
}
.icon-CoinVertical:before {
  content: "\e916";
  
}
.icon-Error:before {
  content: "\e917";
  
}
.icon-Mail:before {
  content: "\e918";
  
}
.icon-MapPin:before {
  content: "\e919";
  
}
.icon-Mobile:before {
  content: "\e91a";
  
}
.icon-Ok:before {
  content: "\e91b";
  
}
.icon-Paperclip:before {
  content: "\e91c";
  
}
.icon-Phone:before {
  content: "\e91d";
  
}
.icon-Send:before {
  content: "\e91e";
  
}
.icon-Spinner:before {
  content: "\e91f";
  
}
.icon-Trash:before {
  content: "\e920";
  
}
.icon-Warning:before {
  content: "\e921";
  
}
.icon-World:before {
  content: "\e922";
  
}
.icon-youtube:before {
  content: "\e923";
}
.icon-linkedin:before {
  content: "\e924";
}
.icon-brand:before {
  content: "\e924";
}
.icon-social:before {
  content: "\e924";
}
.icon-whatsapp:before {
  content: "\e925";
}
.icon-brand1:before {
  content: "\e925";
}
.icon-social1:before {
  content: "\e925";
}
.icon-twitter:before {
  content: "\e926";
}
.icon-brand2:before {
  content: "\e926";
}
.icon-tweet:before {
  content: "\e926";
}
.icon-social2:before {
  content: "\e926";
}
.icon-facebook:before {
  content: "\e927";
}
