<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual tono y voz</title>
    <link rel="stylesheet" href="../../../../__css-ouput/__font-import.css">
    <link rel="stylesheet" href="../../../../__css-ouput/_core.css">

    <link rel="stylesheet" href="/Style%20Library/_web-afp-capital/src/css/__font-import.css">
    <link rel="stylesheet" href="/Style%20Library/_web-afp-capital/src/css/_core.css">
    <!-- <style>
        *{border: 1px salmon solid!important;}
    </style> -->
</head>

<body>
<div class="LAYOUT"  >


<button class="button primary" onclick="openModal('.modal-aviso-sesion-caducada');">Abrir modal</button>
    <!-- <a class="button button-secondary aqua small margin-top-small max-w-150 center-el" onclick="openModal('.modal-aviso-sesion-caducada');">Escríbenos</a> -->

  


    <!-- Modal Central -->
    <div class="modal modal-center modal-center-scrollContent modal-aviso-sesion-caducada">
        <div class="card card-modal">
            <div class="card-controller card-controller-top">
                <div class="button button-close close-modal"></div>
            </div>
            <div class="container"> 
                <div class="row card-content">
                    <div class="col content-zone">
                        <h1>Card Modal</h1>
                        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda odio nemo ab, quisquam officiis iste quos, id aliquam voluptatem sed earum, corporis enim animi quia aliquid consequatur. Deserunt, unde cum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione eligendi deleniti nobis quia recusandae debitis temporibus, est natus exercitationem consectetur non quae rerum unde inventore vel tempora harum enim. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nisi, fuga molestiae blanditiis, fugiat accusamus ab delectus quasi accusantium ex aut quo, vel corrupti earum nobis temporibus repudiandae dolorum tempore!
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate sunt tenetur cupiditate, porro dolore. Totam esse facere, temporibus a reprehenderit nostrum obcaecati! Reiciendis nihil voluptatum vitae ab officiis ipsam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti nemo distinctio, soluta, sed numquam aliquid veniam sequi officia autem obcaecati ea deserunt dignissimos expedita maxime atque perferendis ratione laboriosam quam.
                            ipsum dolor, sit amet consectetur adipisicing elit. Assumenda odio nemo ab, quisquam officiis iste quos, id aliquam voluptatem sed earum, corporis enim animi quia aliquid consequatur. Deserunt, unde cum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione eligendi deleniti nobis quia recusandae debitis temporibus, est natus exercitationem consectetur non quae rerum unde inventore vel tempora harum enim. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nisi, fuga molestiae blanditiis, fugiat accusamus ab delectus quasi accusantium ex aut quo, vel corrupti earum nobis temporibus repudiandae dolorum tempore!
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate sunt tenetur cupiditate, porro dolore. Totam esse facere, temporibus a reprehenderit nostrum obcaecati! Reiciendis nihil voluptatum vitae ab officiis ipsam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti nemo distinctio, soluta, sed numquam aliquid veniam sequi officia autem obcaecati ea deserunt dignissimos expedita maxime atque perferendis ratione laboriosam quam.
                        </p>   
                    </div>     
                </div>   
            </div>
        </div>
    </div>
    <!-- Fin Modal Central -->
</div>


<script src="../src/js/modal.js"></script>

</body>

</html>