
       
        :root{
          --card-fill:var(--ct-neutral-predominant);
--card-verticalPadding:2.25em;
--card-horizontalPadding:2.25em;
--card-borderRadius:24px;
--card-boxShadow:[object Object];

          
        }

        .card{
                box-shadow: 0px 2px 12px 0px var(--shadow-color-base)
              }

        