
                  
                  $light-theme-shadows:( 
                    shadow-1:(
                     x:0px,y:2px,blur:7px,spread:0px,color:#353C4B80,type:dropShadow
                    
                       ),shadow-2:(
                     x:0px,y:2px,blur:12px,spread:0px,color:#353C4B80,type:dropShadow
                    
                       ),
                    );

                   
                 