
        @media(prefers-color-scheme: light) {
        :root{
          --white-base: #fff;
--white-o-10: #ffffff1a;
--white-o-25: #ffffff40;
--white-o-50: #ffffff80;
--white-o-75: #ffffffbf;
--white-o-90: #ffffffe6;
--black-base: #000;
--black-o-10: #0000001a;
--black-o-25: #00000040;
--black-o-50: #00000080;
--black-o-75: #000000bf;
--black-o-90: #000000e6;
--neutral-100: #EAF1FC;
--neutral-200: #DFE7FA;
--neutral-300: #C9D1E4;
--neutral-400: #949BB9;
--neutral-500: #353C4B;
--neutral-predominant: #ffffff;
--o-90-neutral-100: #EAF1FCE6;
--o-90-neutral-200: #DFE7FAE6;
--o-90-neutral-300: #C9D1E4E6;
--o-90-neutral-400: #949BB9E6;
--o-90-neutral-500: #353C4BE6;
--o-90-neutral-predominant: #ffffffE6;
--o-75-neutral-100: #EAF1FCBF;
--o-75-neutral-200: #DFE7FABF;
--o-75-neutral-300: #C9D1E4BF;
--o-75-neutral-400: #949BB9BF;
--o-75-neutral-500: #353C4BBF;
--o-75-neutral-predominant: #ffffffBF;
--o-50-neutral-100: #EAF1FC80;
--o-50-neutral-200: #DFE7FA80;
--o-50-neutral-300: #C9D1E480;
--o-50-neutral-400: #949BB980;
--o-50-neutral-500: #353C4B80;
--o-50-neutral-predominant: #ffffff80;
--o-25-neutral-100: #EAF1FC40;
--o-25-neutral-200: #DFE7FA40;
--o-25-neutral-300: #C9D1E440;
--o-25-neutral-400: #949BB940;
--o-25-neutral-500: #353C4B40;
--o-25-neutral-predominant: #ffffff40;
--o-10-neutral-100: #EAF1FC1A;
--o-10-neutral-200: #DFE7FA1A;
--o-10-neutral-300: #C9D1E41A;
--o-10-neutral-400: #949BB91A;
--o-10-neutral-500: #353C4B1A;
--o-10-neutral-predominant: #ffffff1A;
--primary-100: #ADD1FF;
--primary-200: #7DB0FF;
--primary-300: #3D70DD;
--primary-400: #1A4DBA;
--primary-500: #0033A0;
--primary-base: #0033a0;
--o-90-primary-100: #ADD1FFE6;
--o-90-primary-200: #7DB0FFE6;
--o-90-primary-300: #3D70DDE6;
--o-90-primary-400: #1A4DBAE6;
--o-90-primary-500: #0033A0E6;
--o-90-primary-base: #0033a0E6;
--o-75-primary-100: #ADD1FFBF;
--o-75-primary-200: #7DB0FFBF;
--o-75-primary-300: #3D70DDBF;
--o-75-primary-400: #1A4DBABF;
--o-75-primary-500: #0033A0BF;
--o-75-primary-base: #0033a0BF;
--o-50-primary-100: #ADD1FF80;
--o-50-primary-200: #7DB0FF80;
--o-50-primary-300: #3D70DD80;
--o-50-primary-400: #1A4DBA80;
--o-50-primary-500: #0033A080;
--o-50-primary-base: #0033a080;
--o-25-primary-100: #ADD1FF40;
--o-25-primary-200: #7DB0FF40;
--o-25-primary-300: #3D70DD40;
--o-25-primary-400: #1A4DBA40;
--o-25-primary-500: #0033A040;
--o-25-primary-base: #0033a040;
--o-10-primary-100: #ADD1FF1a;
--o-10-primary-200: #7DB0FF1a;
--o-10-primary-300: #3D70DD1a;
--o-10-primary-400: #1A4DBA1a;
--o-10-primary-500: #0033A01a;
--o-10-primary-base: #0033a01a;
--error-100: #FFC1CA;
--error-200: #FC7F9B;
--error-300: #D12C4E;
--error-400: #9F001C;
--error-500: #800000;
--error-base: #D12C4E;
--o-90-error-100: #FFC1CAE6;
--o-90-error-200: #FC7F9BE6;
--o-90-error-300: #D12C4EE6;
--o-90-error-400: #9F001CE6;
--o-90-error-500: #800000E6;
--o-90-error-base: #D12C4EE6;
--o-75-error-100: #FFC1CABF;
--o-75-error-200: #FC7F9BBF;
--o-75-error-300: #D12C4EBF;
--o-75-error-400: #9F001CBF;
--o-75-error-500: #800000BF;
--o-75-error-base: #D12C4EBF;
--o-50-error-100: #FFC1CA80;
--o-50-error-200: #FC7F9B80;
--o-50-error-300: #D12C4E80;
--o-50-error-400: #9F001C80;
--o-50-error-500: #80000080;
--o-50-error-base: #D12C4E80;
--o-25-error-100: #FFC1CA40;
--o-25-error-200: #FC7F9B40;
--o-25-error-300: #D12C4E40;
--o-25-error-400: #9F001C40;
--o-25-error-500: #80000040;
--o-25-error-base: #D12C4E40;
--o-10-error-100: #FFC1CA1A;
--o-10-error-200: #FC7F9B1A;
--o-10-error-300: #D12C4E1A;
--o-10-error-400: #9F001C1A;
--o-10-error-500: #8000001A;
--o-10-error-base: #D12C4E1A;
--success-100: #6EEEB8;
--success-200: #3BBB85;
--success-300: #00804A;
--success-400: #006630;
--success-500: #00531D;
--success-base: #00804A;
--o-90-success-100: #6EEEB8E6;
--o-90-success-200: #3BBB85E6;
--o-90-success-300: #00804AE6;
--o-90-success-400: #006630E6;
--o-90-success-500: #00531DE6;
--o-90-success-base: #00804AE6;
--o-75-success-100: #6EEEB8BF;
--o-75-success-200: #3BBB85BF;
--o-75-success-300: #00804ABF;
--o-75-success-400: #006630BF;
--o-75-success-500: #00531DBF;
--o-75-success-base: #00804ABF;
--o-50-success-100: #6EEEB880;
--o-50-success-200: #3BBB8580;
--o-50-success-300: #00804A80;
--o-50-success-400: #00663080;
--o-50-success-500: #00531D80;
--o-50-success-base: #00804A80;
--o-25-success-100: #6EEEB840;
--o-25-success-200: #3BBB8540;
--o-25-success-300: #00804A40;
--o-25-success-400: #00663040;
--o-25-success-500: #00531D40;
--o-25-success-base: #00804A40;
--o-10-success-100: #6EEEB81A;
--o-10-success-200: #3BBB851A;
--o-10-success-300: #00804A1A;
--o-10-success-400: #0066301A;
--o-10-success-500: #00531D1A;
--o-10-success-base: #00804A1A;
--caution-100: #FFCB59;
--caution-200: #F0A634;
--caution-300: #B46100;
--caution-400: #9D4E00;
--caution-500: #7D3101;
--caution-base: #B46100;
--o-90-caution-100: #FFCB59E6;
--o-90-caution-200: #F0A634E6;
--o-90-caution-300: #B46100E6;
--o-90-caution-400: #9D4E00E6;
--o-90-caution-500: #7D3101E6;
--o-90-caution-base: #B46100E6;
--o-75-caution-100: #FFCB59BF;
--o-75-caution-200: #F0A634BF;
--o-75-caution-300: #B46100BF;
--o-75-caution-400: #9D4E00BF;
--o-75-caution-500: #7D3101BF;
--o-75-caution-base: #B46100BF;
--o-50-caution-100: #FFCB5980;
--o-50-caution-200: #F0A63480;
--o-50-caution-300: #B4610080;
--o-50-caution-400: #9D4E0080;
--o-50-caution-500: #7D310180;
--o-50-caution-base: #B4610080;
--o-25-caution-100: #FFCB5940;
--o-25-caution-200: #F0A63440;
--o-25-caution-300: #B4610040;
--o-25-caution-400: #9D4E0040;
--o-25-caution-500: #7D310140;
--o-25-caution-base: #B4610040;
--o-10-caution-100: #FFCB591A;
--o-10-caution-200: #F0A6341A;
--o-10-caution-300: #B461001A;
--o-10-caution-400: #9D4E001A;
--o-10-caution-500: #7D31011A;
--o-10-caution-base: #B461001A;
--glass-base: #949BB91A;
--m-primary-n2: #ADD1FF;
--m-primary-n1: #7DB0FF;
--m-primary-o: #3D70DD;
--m-primary-p1: #1A4DBA;
--m-primary-p2: #0033A0;

          --shadow-1-x:0;--shadow-1-y:2;--shadow-1-blur:7;--shadow-1-spread:0;--shadow-1-color:#353C4B1A;--shadow-1-type:dropShadow--shadow-2-x:0;--shadow-2-y:2;--shadow-2-blur:12;--shadow-2-spread:0;--shadow-2-color:#353C4B1A;--shadow-2-type:dropShadow                 
          --background-image: 1

        }
        }