
      :root{
         --base: #ffffff;
--base-contrast: #292d3b;
--neutral-50: #F2F3FB;
--neutral-100: #E2E5F1;
--neutral-200: #D0D5E3;
--neutral-300: #BFC5D4;
--neutral-400: #B2B8CA;
--neutral-500: #545f79;
--neutral-600: #3f4a64;
--neutral-700: #363f54;
--neutral-800: #303747;
--neutral-900: #282F3F;
--primary-50: #DCF0FF;
--primary-100: #B2DEFF;
--primary-200: #91cdff;
--primary-300: #6eb8ff;
--primary-400: #4d97ff;
--primary-500: #275ac7;
--primary-600: #1144b1;
--primary-700: #0033a0;
--primary-800: #1a2a8d;
--primary-900: #07177A;
--success-50: #BAFEB8;
--success-100: #85EE82;
--success-200: #66CF63;
--success-300: #58C155;
--success-400: #47B044;
--success-500: #1A7219;
--success-600: #0A6209;
--success-700: #015401;
--success-800: #004900;
--success-900: #043E04;
--error-50: #FADBE3;
--error-100: #FFB4BF;
--error-200: #FF95A0;
--error-300: #FF7B86;
--error-400: #FF5E69;
--error-500: #CD1420;
--error-600: #BC030F;
--error-700: #AA0101;
--error-800: #9D0000;
--error-900: #8E0000;
--secondary-50: #FCFCCB;
--secondary-100: #F3F839;
--secondary-200: #E2E039;
--secondary-300: #D1CC25;
--secondary-400: #C0BB14;
--secondary-500: #9A6526;
--secondary-600: #8F5A1B;
--secondary-700: #855011;
--secondary-800: #743F00;
--secondary-900: #613809;
--shadow-color: #00000024;
--button-secondary-background-color: #B2DEFF;
                 
        
       }
        