@import './abstracts/variables/_index-variables/index.scss';
@import './abstracts/mixins/_index-mixins/index.scss';
@import './base/animate.scss';
@import './base/reset.scss';

html{
	background-color: var(--ct-neutral-predominant)
}

.LAYOUT{


	@import './base/grids.scss';
	@import './base/headings.scss';
	@import './base/sections.scss';
	@import './base/links.scss';
	@import './components/_index-components/index.scss';
	 
	font-size: 18px;
    color: var(--ct-neutral-500);
	
}

