<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../__css-ouput/__font-import.css">
    <link rel="stylesheet" href="../../../../__css-ouput/_core.css">
    <title>Document</title>
</head>

<body class="LAYOUT">
    <div class="container">
        <div class="row">
         


          




            <div class="col-12">
                <div class="card card-vertical-center">

                    <div class="container">

        

                      <div class="row">
                        <div class="col-6"><h4>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent
                            incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.
                        </h4></div>
                        <div class="col-6"><h4>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent
                            incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.
                        </h4></div>
                      </div>


                            <!-- <div class="text-zone">
                                <h1>card-vertical-center.
                                </h1>
                                <h4>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent
                                    incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.
                                </h4>

                            </div>
                            <div class="graphic-zone">
                                <img src="./img/Frame 14418.png" alt="" >
                            </div> -->
                      


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
            <div class="button">Hola</div>
        </div> -->
                </div>
            </div>







            <div class="col-sm-12">
                <div class="card card-modal">
                    <div class="card-controller card-controller-top">
                        <div class="button button-close close-modal"></div>
                    </div>
                    <div class="container">
                        
                            <div class="text-zone">
                                <h1>Card Modal</h1>
                                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda odio nemo ab,
                                    quisquam officiis iste quos, id aliquam voluptatem sed earum, corporis enim animi
                                    quia aliquid consequatur. Deserunt, unde cum! Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima ratione eligendi deleniti nobis quia recusandae
                                    debitis temporibus, est natus exercitationem consectetur non quae rerum unde
                                    inventore vel tempora harum enim. Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Natus nisi, fuga molestiae blanditiis, fugiat accusamus ab
                                    delectus quasi accusantium ex aut quo, vel corrupti earum nobis temporibus
                                    repudiandae dolorum tempore!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate sunt
                                    tenetur cupiditate, porro dolore. Totam esse facere, temporibus a reprehenderit
                                    nostrum obcaecati! Reiciendis nihil voluptatum vitae ab officiis ipsam! Lorem ipsum
                                    dolor sit amet consectetur, adipisicing elit. Deleniti nemo distinctio, soluta, sed
                                    numquam aliquid veniam sequi officia autem obcaecati ea deserunt dignissimos
                                    expedita maxime atque perferendis ratione laboriosam quam.
                                    ipsum dolor, sit amet consectetur adipisicing elit. Assumenda odio nemo ab, quisquam
                                    officiis iste quos, id aliquam voluptatem sed earum, corporis enim animi quia
                                    aliquid consequatur. Deserunt, unde cum! Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Minima ratione eligendi deleniti nobis quia recusandae debitis
                                    temporibus, est natus exercitationem consectetur non quae rerum unde inventore vel
                                    tempora harum enim. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus
                                    nisi, fuga molestiae blanditiis, fugiat accusamus ab delectus quasi accusantium ex
                                    aut quo, vel corrupti earum nobis temporibus repudiandae dolorum tempore!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate sunt
                                    tenetur cupiditate, porro dolore. Totam esse facere, temporibus a reprehenderit
                                    nostrum obcaecati! Reiciendis nihil voluptatum vitae ab officiis ipsam! Lorem ipsum
                                    dolor sit amet consectetur, adipisicing elit. Deleniti nemo distinctio, soluta, sed
                                    numquam aliquid veniam sequi officia autem obcaecati ea deserunt dignissimos
                                    expedita maxime atque perferendis ratione laboriosam quam.
                                </p>
                            </div>
                      
                    </div>
                </div>
            </div>












            <!-- <div class="col-sm-6">
                <div class="card brother">
                    
                    <div class="container">
                        
                        <div class="row index">
                           <div class="col">
                               01
                           </div>
                        </div>
                       
                        <div class="row card-content">
                            
                            
                            <div class="col text-zone">
                                <h2>Lorem ipsum dolor sit amet.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.</p>

                            </div>
                           
                        </div>   
                        
                        
                    </div>
                    <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card brother">
                    
                    <div class="container">
                        
                        <div class="row index">
                           <div class="col">
                               02
                           </div>
                        </div>
                       
                        <div class="row card-content">
                            
                            
                            <div class="col text-zone">
                                <h2>Lorem ipsum dolor sit amet.
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, soluta itaque. Nostrum rerum mira.</p>

                            </div>
                           
                        </div>   
                        
                        
                    </div>
                    <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div>
                </div>
            </div> -->


            <div class="col-sm-6">
                <div class="card card-column-mode card-click brother">
                    <div class="container">
                            <div class="icon-zone">
                                <img src="./img/BPH.svg" alt="">
                            </div>
                            <div class="text-zone">
                                <h2>Lorem ipsum dolor sit amet 1.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molesti vent incidunt, perspiciatis
                                    placeat et dolores
                                    obcaecati aut veritatis earum in tempora.</p>
                            </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="card card-row-mode card-click brother">

                    <div class="container">



                      

                            <div class="icon-zone">
                                <img src="./img/BPH.svg" alt="">
                            </div>
                            <div class="text-zone">
                                <h2>Lorem ipsum dolor sit amet.
                                </h2>
                                <p>Mira con cuáles tonos hablamos y sus cualidades. Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Modi facere natus unde veritatis dignissimos eos
                                    voluptas veniam, ratione placeat facilis? Tempora doloremque architecto velit
                                    adipisci eaque rem laudantium voluptate suscipit!</p>

                            </div>

                    


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>
            </div>


            <div class="col-sm-6">
                <div class="card card-click brother">

                    <div class="container">



                       


                            <div class="text-zone">
                                <h1>Lorem ipsum dolor sit amet.
                                </h1>
                                <h4> Lorem ipsum dolor sit amete. Nostrum rerum molesti vent incid unt, perspiciatis
                                    placeat et dolores.</h4>

                            </div>
                            <div class="graphic-zone">
                                <img src="./img/casual-life-3d-woman-taking-funny-photo-with-dog.png" alt="">
                            </div>
                      


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>
            </div>



            <div class="col-sm-6">
                <div class="card card-click card-vertical-center brother">

                    <div class="container">

                            <div class="text-zone">
                                <h1>Nostrum rerum
                                    molesti
                                </h1>
                                <h4>Lplaceat et dolores obc orem ipsum dolor sit amete. Nostrum rerum
                                    molesti vent incidunt, pers veritatis
                                    earum in tempora.</h4>

                            </div>
                            <div class="graphic-zone">
                                <img src="./img/casual-life-3d-woman-taking-funny-photo-with-dog.png" alt=""
                                    >
                            </div>
                       


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>
            </div>












            <!-- selectable cards -->





            <div class="col-sm-12">
                <div class="card card-step  brother">

                    <div class="container">



                       

                            <div class="card-number">
                                2
                            </div>


                            <div class="text-zone">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, soluta itaque.
                                    Nostrum rerum mira.</p>

                            </div>



                      


                    </div>

                </div>
            </div>


            <div class="col-sm-6">
                <label class="card card-option">
                    <div class="container">
                 

                            <div class="card-option-zone">
                                <div class="radio">
                                    <input id="1" type="radio" name="1">
                                    <span class="visible-radio">
                                    </span>
                                </div>
                            </div>

                            <div class="text-zone">
                                <h2>
                                    Opción depósito.
                                </h2>
                                <p> 
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, soluta itaelit.
                                    Omnis, soluta ita elit. Omnis, soluta ita elit. Omnis, soluta itaque. Nostrum rerum
                                    mira.
                                </p>
                            </div>

                       
                    </div>
                </label>
            </div>



            <div class="col-sm-6">
                <div class="card card-step card-click brother">

                    <div class="container">

                      

                    

                            <div class="icon-zone">
                            <span>1</span>
                            </div>
                            <div class="text-zone">
                                <h2>Lorem ipsum dolor.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molesti vent incidunt, perspiciatis
                                    placeat et dolores
                                    obcaecati aut veritatis earum in tempora.</p>

                            </div>

                      


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>

                <div class="card card-step card-click brother">

                    <div class="container">

                      

                    

                            <div class="icon-zone">
                            <span>2</span>
                            </div>
                            <div class="text-zone">
                                <h2>Nostrum rerum molesti.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molesti vent incidunt, perspiciatis
                                    placeat et dolores
                                    obcaecati aut veritatis earum in tempora.</p>

                            </div>

                      


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>


                <div class="card card-step card-click brother">

                    <div class="container">

                      

                    

                            <div class="icon-zone">
                            <span>3</span>
                            </div>
                            <div class="text-zone">
                                <h2>Veritatis earum in tempora.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molesti vent incidunt, perspiciatis
                                    placeat et dolores
                                    obcaecati aut veritatis earum in tempora.</p>

                            </div>

                      


                    </div>
                    <!-- <div class="card-controller card-controller-bottom">
                        <div class="button">Hola</div>
                    </div> -->
                </div>
            </div>


            <!-- <div class="col-sm-6">
                <label class="card brother">
                    
                    <div class="container">
                        
                        <div class="row select">
                            <div class="col">
                                <div class="radio">
                                    <input id="1" type="radio" name="1">
                                    <span class="visible-radio">
                                    </span>
                                </div>
                            </div>
                            </div>
                       
                        <div class="row card-content">
                            
                            
                            <div class="col text-zone">
                                <h2>Opcion depósito.
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, soluta itaque. Nostrum rerum mira.</p>
                           
                            </div>
            
                        
                           
                        </div>   
                        
                        
                    </div>
                    
                </label>
            </div>
             -->


            <!-- <div class="col-sm-6">
                <label class="card card-row-mode brother">
                    
                    <div class="container">
                        
                       
                       
                        <div class="row card-content">
            
            
                            <div class="col select">
                               
                                    <div class="checkbox">
                                        <input id="1" checked="" type="checkbox" name="1">
                                        <span class="visible-checkbox">
                                        </span>
                                    </div>
                                
                            </div>
                            
                            
                            <div class="col text-zone">
                                <h2>Lorem ipsum dolor sit amet 2.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.</p>
                           
                            </div>
            
            
                           
                        </div>   
                        
                        
                    </div>
                   
                </label>
            </div>
            
            
            <div class="col-sm-6">
                <label class="card card-column-mode brother">
                    
                    <div class="container">
                        
                       
                       
                        <div class="row card-content">
            
            
                            <div class="col select">
                               
                                    <div class="checkbox">
                                        <input id="1" checked="" type="checkbox" name="1">
                                        <span class="visible-checkbox">
                                        </span>
                                    </div>
                                
                            </div>
                            
                            
                            <div class="col text-zone">
                                <h2>Lorem ipsum dolor sit amet 2.
                                </h2>
                                <p>Lorem ipsum dolor sit amete. Nostrum rerum molestiae blanditiis? Numquam vent incidunt, perspiciatis placeat et dolores obcaecati aut veritatis earum in tempora.</p>
                           
                            </div>
            
            
                           
                        </div>   
                        
                        
                    </div>
                   
                </label>
            </div> -->


        </div>
    </div>
</body>

</html>