
      @media(prefers-color-scheme: dark) {
      :root{
        --base: #ffffff;
--base-contrast: #292d3b;
--neutral-100: #e7edfd;
--neutral-200: #d1d7ee;
--neutral-300: #bfc5dc;
--neutral-400: #b1b8d4;
--neutral-500: #545f79;
--neutral-600: #3f4a64;
--neutral-700: #363f54;
--neutral-800: #303747;
--primary-100: #a5d9ff;
--primary-200: #91cdff;
--primary-300: #6eb8ff;
--primary-400: #4d97ff;
--primary-500: #275ac7;
--primary-600: #1144b1;
--primary-700: #0033a0;
--primary-800: #1a2a8d;
--secondary-100: #91f3ff;
--secondary-200: #71e6ff;
--secondary-300: #61d6f3;
--secondary-400: #4ec3e0;
--secondary-500: #0a7f98;
--secondary-600: #03758e;
--secondary-700: #016c85;
--secondary-800: #00617a;
                 
        
      }
      }