
  
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'base-icons' !important;
    font-size: 25px!important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

    &.icon-size-25{
      font-size: 25px!important;
    }
    &.icon-size-30{
      font-size: 30px!important;
    }
    &.icon-size-35{
      font-size: 35px!important;
    }
    &.icon-size-40{
      font-size: 40px!important;
    }
    &.icon-size-45{
      font-size: 45px!important;
    }
    &.icon-size-50{
      font-size: 50px!important;
    }
    &.icon-size-100{
      font-size: 100px!important;
    }&.icon-size-150{
      font-size: 150px!important;
    }&.icon-size-200{
      font-size: 200px!important;
    }
  }

  
  .icon-addCircle:before {
    content: "\e900";
    
  }
  .icon-caution:before {
    content: "\e901";
    
  }
  .icon-caution-fill:before {
    content: "\e902";
    
  }
  .icon-checkCircle:before {
    content: "\e903";
    
  }
  .icon-checkCircle-fill:before {
    content: "\e904";
    
  }
  .icon-chile:before {
    content: "\e905";
    
  }
  .icon-circleArrowBottom:before {
    content: "\e906";
    
  }
  .icon-circleArrowLeft:before {
    content: "\e907";
    
  }
  .icon-circleArrowRight:before {
    content: "\e908";
    
  }
  .icon-circleArrowTop:before {
    content: "\e909";
    
  }
  .icon-circleCaretBottom:before {
    content: "\e90a";
    
  }
  .icon-circleCaretLeft:before {
    content: "\e90b";
    
  }
  .icon-circleCaretRight:before {
    content: "\e90c";
    
  }
  .icon-circleCaretTop:before {
    content: "\e90d";
    
  }
  .icon-error:before {
    content: "\e90e";
    
  }
  .icon-house:before {
    content: "\e90f";
    
  }
  .icon-house-fill:before {
    content: "\e910";
    
  }
  .icon-mail:before {
    content: "\e911";
    
  }
  .icon-mapPin:before {
    content: "\e912";
    
  }
  .icon-paperclip:before {
    content: "\e913";
    
  }
  .icon-warningCircle:before {
    content: "\e914";
    
  }
  .icon-warningDiamond:before {
    content: "\e915";
    
  }
  .icon-warningDiamond-fill:before {
    content: "\e916";
    
  }
  .icon-whatsapp:before {
    content: "\e917";
    
  }
  .icon-world:before {
    content: "\e918";
    
  }
