
       
        :root{
          --card-basic-paddingTop:1.375em;
--card-basic-paddingRight:1.375em;
--card-basic-paddingBottom:1.375em;
--card-basic-paddingLeft:1.375em;
--card-basic-fill:var(base);
--card-basic-borderRadius:12px;

          
        }

        
        