     
        :root{
          --button-primary-background-color:var(--fix-primary-500);
--button-primary-hover-background-color:var(--fix-primary-600);
--button-primary-label-color:var(--white);
--button-primary-icon-color:var(--white);
--button-secondary-background-color:var(--neutral-100);
--button-secondary-hover-background-color:var(--neutral-200);
--button-secondary-label-color:var(--primary-600);
--button-secondary-icon-color:var(--primary-600);
--button-border-radius:6px;
--button-normal-height:44px;
--button-normal-font-size:1.125em;
--button-small-height:35px;
--button-small-font-size:1em;
--button-extra-small-height:25px;
--button-extra-small-font-size:0.875em;
--button-action-area-height:44;
--card-padding:1.375em;
--card-bg-color:var(--base);
--card-border-radius:12px;
        
        }
    
        