
        :root{
          --white: #ffffff;
--black: #000000;
--lighter: #fff;
--darker: #292D3B;
--fix-neutral-50: #F2F3FB;
--fix-neutral-100: #E2E5F1;
--fix-neutral-200: #D0D5E3;
--fix-neutral-300: #BFC5D4;
--fix-neutral-400: #B2B8CA;
--fix-neutral-500: #545f79;
--fix-neutral-600: #3f4a64;
--fix-neutral-700: #363f54;
--fix-neutral-800: #303747;
--fix-neutral-900: #282F3F;
--fix-primary-50: #D9EFFF;
--fix-primary-100: #B2DEFF;
--fix-primary-200: #91cdff;
--fix-primary-300: #6eb8ff;
--fix-primary-400: #4d97ff;
--fix-primary-500: #275ac7;
--fix-primary-600: #1144b1;
--fix-primary-700: #0033a0;
--fix-primary-800: #1a2a8d;
--fix-primary-900: #07177A;
--fix-success-50: #96FD93;
--fix-success-100: #85EE82;
--fix-success-200: #66CF63;
--fix-success-300: #58C155;
--fix-success-400: #47B044;
--fix-success-500: #1A7219;
--fix-success-600: #0A6209;
--fix-success-700: #015401;
--fix-success-800: #004900;
--fix-success-900: #043E04;
--fix-error-50: #FAD8E1;
--fix-error-100: #FFB4BF;
--fix-error-200: #FF95A0;
--fix-error-300: #FF7B86;
--fix-error-400: #FF5E69;
--fix-error-500: #CD1420;
--fix-error-600: #BC030F;
--fix-error-700: #AA0101;
--fix-error-800: #9D0000;
--fix-error-900: #8E0000;
--fix-secondary-50: #F3F839;
--fix-secondary-100: #E3E829;
--fix-secondary-200: #D2D718;
--fix-secondary-300: #C7C70D;
--fix-secondary-400: #B3AF00;
--fix-secondary-500: #847600;
--fix-secondary-600: #756500;
--fix-secondary-700: #6A5801;
--fix-secondary-800: #614D00;
--fix-secondary-900: #584200;
                 
          
        }
        