
        @media(prefers-color-scheme: dark) {
        :root{
          --base: #292d3b;
--base-contrast: #FFFFFF;
--neutral-100: #303747;
--neutral-200: #363f54;
--neutral-300: #3f4a64;
--neutral-400: #545f79;
--neutral-500: #b1b8d4;
--neutral-600: #bfc5dc;
--neutral-700: #d1d7ee;
--neutral-800: #e7edfd;
--primary-100: #1a2a8d;
--primary-200: #0033a0;
--primary-300: #1144b1;
--primary-400: #275ac7;
--primary-500: #4d97ff;
--primary-600: #6eb8ff;
--primary-700: #91cdff;
--primary-800: #a5d9ff;
--secondary-100: #00617a;
--secondary-200: #016c85;
--secondary-300: #03758e;
--secondary-400: #0a7f98;
--secondary-500: #4ec3e0;
--secondary-600: #61d6f3;
--secondary-700: #71e6ff;
--secondary-800: #91f3ff;
                 
          
        }
        }